@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  font-size: 80%;
}

#plsdlogo {
  width: 48px;
  margin-right: 10px;
}

.fancy-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  position: relative;
}

@media screen and (min-width: 800px) {
  .fancy-title:before {
    content: '';
    background-image: url(../img/plsd.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    position: absolute;
    top: -15px;
    left: 0;
  }

  .fancy-title:after {
    content: '';
    background-image: url(../img/plsd.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    position: absolute;
    top: -15px;
    right: 0;
  }
}

nav {
  background: black;
}

#readonlymodal img {
  width: 100px;
}
